/**
 * Menus
 */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    color: #F9FAFB;
    line-height: 1.25;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-size: 1.1rem;

    &.is-active {
      color: $color-nav-link-active;
    }
  }

  a {
    &:not(.btn) {
      border: 0;
      color: inherit;
      display: inline-block;
      text-decoration: none;

      &:hover {
        color: $color-nav-link-hover;
      }
    }
  }
}
