/**
 * Menus
 */
.menu {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    color: #F9FAFB;
    line-height: 1.25;
    font-family: 'Montserrat', sans-serif;
    font-weight:700

    &.is-active {
      color: $color-nav-link-active;
    }
  }

  a {
    &:not(.btn) {
      border: 0;
      color: inherit;
      display: inline-block;
      text-decoration: none;

      &:hover {
        color: $color-nav-link-hover;
      }
    }
  }
}
